:root {
  --main-color: #D977C8;
  --sub-color: #732D67;
  --point-color: #ECF229;
  --base-color: #F2EDE5;
  --black: #333333;
}

.article-container {
  background-color: #fff;
  padding: 15px 0;
}

.article-container .meta {
  text-align: right;
  padding: 0 15px;
}

.article-container .title {
  display: block;
  text-align: center;
  padding: 0 15px;
}

.article-container .title p {
  font-size: 1.7em;
  padding: 20px;
  border-bottom: 4px solid var(--main-color);
  display: inline-block;
  margin-bottom: 0px !important;
}

.article-container .breadcrumbs {
  text-align: center;
  margin-top: 30px;
  padding: 0 15px;
}

.article-container .breadcrumbs ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.article-container .breadcrumbs ul a {
  color: var(--black);
  text-decoration: none;
}

.article-container .breadcrumbs ul a:hover {
  border-bottom: 2px solid var(--black);
}

.article-container .breadcrumbs ul li:not(:first-of-type)::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f0da';
  height: 1em;
  padding: 0 .5em;
  color: var(--black);
  font-weight: 900;
}

.article-container .thumbnail {
  width: 100%;
  margin-top: 10px;
  height: auto;
  overflow: hidden;
}

.article-container .thumbnail img {
  width: 100%;
}

.article-container h2 {
  margin-top: 60px;
  padding: 20px 40px;
  border-left: 9px solid var(--sub-color);
  background-color: #f7f7f7;
  line-height: 40px;
  font-size: 25px;
}

.article-container h3 {
  margin-top: 60px;
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 1.6px;
  padding: 0 16px;
  font-size: 20px;
  border-left: 9px solid var(--sub-color);
  line-height: 2;
}

.article-container p {
  margin-bottom: 60px;
  line-height: 2;
}

.article-container p.point {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}

.article-container p.point i {
  color: var(--main-color);
}

.article-container img {
  max-width: 100%;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.article-container .content {
  font-size: 1.1em;
  padding: 30px 75px;
}

.article-container .content strong {
  font-weight: 600;
  font-size: 1.2em;
}

.article-container .content div.box {
  background-color: #e7e7e7;
  padding: 40px 10px 36px 40px;
  margin-bottom: 40px;
  border: 2px dashed black;
  line-height: 3;
}

.article-container .content ul {
  padding: 40px 10px 36px 40px;
  border: 2px dashed var(--sub-color);
  background-color: #D977C822;
  margin-bottom: 40px;
  list-style: square;
}

.article-container .content ul li {
  margin-bottom: 10px;
  line-height: 2;
}
